html {
  background: #CFCECA;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  background: #FFFFFF;
}

ul {
  list-style: none;
  padding: 0;
}
.alan-arms-pos {
  text-align: center;
  background: #3E5672;
  line-height: 30px;
  color: #ffffff;
  height: 80px;
  box-shadow: 0px 1px 4px 0px #848484;
  img {
    width: 200px;
  }
  ul {
    margin-top: 9px;
  }
}
.alan-arms-pos ul {
  text-align: center;
}
.alan-arms-pos a {
  color: inherit;
}
ul.inventory-list-item-bound .col-md-2 {
  padding: none;
}
ul.inventory-list-item-bound li {
  height: 40px;
  margin: 7px;
  color: #333;
  padding: 0;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
}

ul.inventory-list-item-bound li div {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 0 7px 9px;
  height: 100%;
  vertical-align: top;

}

ul.inventory-list-item-bound li .product-id {
  background: #ececec;
  border-right: 2px solid #ccc;
  padding: 9px 5px 7px !important;
  width: 13%;
}

ul.inventory-list-item-bound li .item-type {
  background: rgb(236, 236, 236);
  width: 70%;
}
.app-container {
  padding-top: 30px;
  min-height: 675px;
  height: 100%;
  // border-left: 2px solid rgb(202, 202, 202);
  // border-right: 2px solid rgb(202, 202, 202);
  box-shadow: 0px 1px 4px 0px #848484;
  //  #item-info-block {
  //   display: block;
  //   width: 150px;
  //   height: 34px;
  //   padding: 6px 12px;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #555;
  //   background-color: #fff;
  //   background-image: none;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //   .disabled {
  //     background-color: lightgray;
  //   }
  // }

  .new-item-creation {
    margin: 20px 0 0;
    .manual-add-item {
      margin: 20px 50px 0 0;
      // width: 380px;
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

    .manual-input-title {
      margin: 20px 10px 0 0;
      display: inline-block;
      float: left;
      box-sizing: border-box;
      padding: 6px 0 0 0;
    }
  }
  
}

.top-nav-button:hover {
  background: #2A3C51;
}


.start-scanning {
  margin: 0 0 40px 0;
  font-size: 20px;
}

.stop-scanning {
  margin: 0 0 40px 0;
  font-size: 20px;
  background-color: #F07F4E;
}

.stop-scanning:hover {
  background-color: #DF4007;
}

.scanned-item-list {
  margin: 30px 0;
}

.scanned-item-container {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 15px;
  .scanned-item-attribute {

  }
}

.scanner-setup-button {
  float: right;
  background-color: #EEEEEE;
}


.scanned-item-counter {
  margin: 20px 0 0;
  font-size: 20px;
  p {
    padding: 3px 0 0;
  }
  .scanned-item-total {
    font-size: 24px;
    padding-top: 0;
  }
}

.display-scanned-item {
  label {
    margin: 0;
  }
}