body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

.alan-arms-pos {
  text-align: center;
  background: #3E5672;
  line-height: 30px;
  color: #ffffff;
  height: 80px; }

.alan-arms-pos ul {
  text-align: center; }

.alan-arms-pos a {
  color: inherit; }

ul.inventory-list-item-bound .col-md-2 {
  padding: none; }

ul.inventory-list-item-bound li {
  height: 40px;
  margin: 7px;
  color: #333;
  padding: 0;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px; }

ul.inventory-list-item-bound li div {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 0 7px 9px;
  height: 100%;
  vertical-align: top; }

ul.inventory-list-item-bound li .product-id {
  background: #ececec;
  border-right: 2px solid #ccc;
  padding: 9px 5px 7px !important;
  width: 13%; }

ul.inventory-list-item-bound li .item-type {
  background: #ececec;
  width: 70%; }

.app-container {
  padding-top: 30px;
  min-height: 675px;
  height: 100%;
  box-shadow: 0px 1px 4px 0px #cacaca; }
  .app-container #item-info-block {
    display: block;
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .app-container .new-item-creation {
    margin: 20px 0 20px; }
    .app-container .new-item-creation .manual-add-item {
      margin: 20px 50px 0 0;
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .app-container .new-item-creation .manual-input-title {
      margin: 20px 10px 0 0;
      display: inline-block;
      float: left;
      box-sizing: border-box;
      padding: 6px 0 0 0; }

.top-nav-button:hover {
  background: #2A3C51; }

.display-scanned-item label {
  margin: 0; }
